body {
  font-family: "Roboto", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.pl-10 {
  padding-left: 10px;
}
.nav {
  overflow: hidden;
}
.nav-left {
  float: left;
}
.nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav-right {
  float: right;
}
.grey-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #94a2b3;
}
.black-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  color: #272d4e;
}
.blue-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #299ef3;
}
.white-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.content {
  display: flex;
  padding-top: 25px;
  flex-direction: row;
}
.content-left {
  flex: 50%;
}
.content-right {
  flex: 50%;
}
.content-left1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 95px;
  color: #272d4e;
}

.eComm {
  padding-top: 25px;
}
.eComm-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #272d4e;
}
.eComm-img {
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
.eComm-body {
  display: flex;
  flex-direction: column;
}

.footer-1 {
  display: flex;
  background-color: #5f37ef;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  padding-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  color: white;
}
.footer-2 {
  background: #7854f7;
  color: white;
  padding-top: 25px;
}
.footer-21 {
  display: flex;
  flex-direction: column;
}
.footer-22 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}
.footer-1-btn {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #5f37ef;
  border-radius: 25px;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .eComm-body {
    display: flex;
    flex-direction: row;
  }
  .content {
    display: flex;
    padding-top: 25px;
    flex-direction: row;
  }
  .footer-1 {
    display: flex;
    background-color: #5f37ef;
  }
  .custom-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    padding-left: 200px;
    font-family: "Roboto";
    font-style: normal;
    color: white;
  }
  .footer-21 {
    display: flex;
    flex-direction: row;
  }
  .footer-22 {
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    margin-left: 50px;
  }
}
